<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>411vm - Spotify Playlists</title>
  <meta name="description" content="List of songs from the 411vm skateboarding videos organized in Spotify playlists acoording to the video issues">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5580755060128538",
      enable_page_level_ads: true
    });
  </script>
</head>
